t/xml/schemas/book.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

    <xs:element name="book">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "title" type = "xs:string"/>
                <xs:element name = "author" type = "xs:string"/>
                <xs:element name = "numPages" type = "xs:positiveInteger" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>